<!--  blog/templates/blog/detail.html -->

{% extends "base.html" %}

{% block nav %}
    <a aria-current="true" href="{% url "blog_index" %}">Blog</a>
    <a href="{% url "about_index" %}">About Me</a>
    <a href="{% url "resume_index" %}">Resume</a>
{% endblock nav %}

{% block page_title %}
    <h3>{{ post.title }}</h3>
    <p>By Jimmy Lindsey</p>
{% endblock page_title %}

{% block page_content %}
    <small>
      {{ post.created_on.date }} | 
      {% if post.created_on.date != post.last_modified.date or post.created_on.time != post.last_modified.time %}
      Last Updated: {{ post.last_modified }} | 
      {% endif %}
      Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </small>
    <p>{{ post.formatted_markdown | safe}}</p>
{% endblock page_content %}
