<!--  blog/templates/blog/detail.html -->

{% extends "base.html" %}


{% block nav %}
    <a href="{% url "blog_index" %}">Blog</a>
    <a aria-current="true" href="{% url "about_index" %}">About Me</a>
    <a href="{% url "resume_index" %}">Resume</a>
{% endblock nav %}

{% block page_title %}
<h4>{{ about_me.title }}<h4>
{% endblock page_title %}

{% block page_content %}
    {% load static %}
    <img src="{% static 'pics/jimmy_ella.jpeg' %}" alt="Me with my youngest daughter Ella"></img>
    <p><small style="font-weight:normal;">{{ about_me.formatted_markdown | safe}}</small></p>
{% endblock page_content %}
