:root {
  color-scheme: dark;
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: #ad82ed;
  --accent-hover: #ad82ed;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}
body {
  color: var(--text);
  background-color: var(--bg);
  font-size: 1.15rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width = 45rem;
}
