<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Akatama's Slice of the Internet</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'custom.css' %}" />
</head>
<header>
  <h1>Akatama's Slice of the Internet</h1>
  <nav>
    {% block nav %}{% endblock nav %}
  <nav>
  </header>
<body>
{% block page_title %}{% endblock page_title %}
{% block page_content %}{% endblock page_content %}
</body>
</html>
