name: Deploy
on:
  push
permissions:
  id-token: write
  contents: read

jobs:
  build-container:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.build-publish.outputs.image_tag }}
      full_image: ${{ steps.build-publish.outputs.full_image }}
    steps:
      - uses: actions/checkout@v5
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/WebsiteDeploy
          aws-region: us-west-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build, tag and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: blog_ecr
          IMAGE_TAG: ${{ github.head_ref || github.ref_name }}
        run: |
          docker build -t $REPOSITORY .
          docker tag $REPOSITORY:latest $REGISTRY/$REPOSITORY:$IMAGE_TAG
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
          if [ "$IMAGE_TAG" == "main" ]; then
            docker tag $REPOSITORY:latest $REGISTRY/$REPOSITORY
            docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
          fi

      
